.section-4
{
    margin-bottom: 5%;
}
.recentNews
{
    background-color: rgb(216, 216, 216);
    overflow: auto;
 
}
.recentNews-card
{   
    border: 0;
    background-color: white;
    text-align: left;
     padding: 10px;
}
.recentNews-card > img
{
    width:200px;
    height: 200px;
}
.recentNews-card > ul
{
    margin:10px 0px;
}
.recentNews-card > ul > li
{
    font-size: 11px;
    display: inline-block;
}
.recentNews-card > ul > li:nth-child(2)
{
    padding: 0px 5px;
}
.recentNews-card > ul > li i
{
    font-size: 11px;
    color: rgb(127, 127, 253);
  
}
.recentNews-card > h3{
    margin: 10px 0px;
    font-size: 18px;
}
.recentNews-card > p{
    margin: 15px 0px;
    color: rgb(153, 153, 153);
    font-size: 13px;
    word-spacing: 2px;
   
}
.recentNews-card > a{
    margin: 15px 0px;
    color: rgb(164 164 240);
    font-size: 14px;
    text-decoration: none;
    display: block;
}
.recentNews-card::after{

  content: "";
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: rgb(70, 118, 223);
  opacity: 0.5;
  transition: 1s;

}
.recentNews-card:hover::after
{
    width: 100%;
    height: 100%;

}
hr{
    display: block;  
    margin: auto;
    background-color: gray;
    height: 3px;
    width: 100%;
}